<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <style>{{>ink}}</style>
    <style>
        body, table.body, h1, h2, h3, h4, h5, h6, p, td {
            font-family: Arial, Helvetica, sans-serif;
            color: #505050;
        }

        table.body {
            background-color: #eeeeee;
        }

        .header, .footer {
            background: #000 url(https://pph_mailchap_images.s3.amazonaws.com/Newsletter/blackbg.png);
        }

        .pphnormalimg {
            float: none;
            display: inline;
        }

        .footericon {
            margin: 6px;
        }

        table.pph-hourlie {
            background-color: #ffffff;
            moz-box-shadow: 3px 3px 10px #D8D8D8, -3px 0px 10px #D8D8D8;
            box-shadow: 3px 3px 10px #D8D8D8, -3px 3px 10px #D8D8D8;
            margin-bottom: 10px;
            border: 1px solid #dfdfdf;
        }

        table.pph-hourlie .wrapper {
            padding: 0;
        }

        .pph-hourlie img {
            width: 100%;
        }

        table.row.pph-default table.pph-hourlie td {
            padding: 0;
        }

        table.pph-hourlie td.pph-hourlie-title div {
            overflow: hidden;
            height: 40px;
            max-height: 40px;
        }

        table.pph-hourlie td.pph-hourlie-title a {
            text-decoration: none !important;
        }

        table.pph-hourlie td.pph-hourlie-left {
            line-height: 30px;
        }

        table.pph-hourlie tr.grey {
            background-color: #F5F5F5;
        }

        table.pph-hourlie tr.grey .wrapper {
            padding-top: 12px;
        }

        table.pph-hourlie td.content {
            padding-bottom: 0;
        }

        .quiet {
            color: #848484;
        }

        table.button.call-to-action {
            width: 100px;
        }

        table.button.call-to-action.explore {
            width: 200px;
            margin: 10px 0 30px 0;
        }

        table.button.call-to-action td {
            background-color: #ff7300;
            color: #fff;
            border-color: #ff6a26;
            height: 12px;
        }

        table.button.call-to-action:hover td {
            background-color: #ff6a26 !important;
        }

        table.button.call-to-action td a {
            text-decoration: none !important;
            font-size: 12px;
            line-height: 12px;
        }

        td.wrapper.pph-bgWhite {
            background-color: #FFFFFF;
        }

        td.wrapper.pph-bgLightGray {
            background-color: #F7F7F7;
        }

        table.pph-categories a {
            color: #333333;
            text-decoration: none !important;
            font-size: 12px;
        }

        table td.pph-explore-title {
            font-size: 20px;
            padding: 16px 0 23px 0;
        }

        table.pph-explore {
            margin: 40px 0px 20px 0px;
        }

        table td.pph-discount {
            font-size: 28px;
            padding: 25px 0;
        }

        span.price {
            margin-right: 2px;
        }

        span.price.original {
            color: #999999;
            text-decoration: line-through;
        }

        span.price.discount {
            color: #464646;
        }

        .custom-job{
            margin-bottom:30px;
        }

        .custom-job .title {
            color:#282828;
            font-family:Arial,sans-serif;
            font-size:14px;
            font-weight:bold;
            line-height:17px;
        }

        .custom-job img {
            margin-top: 10px;
            margin-bottom: 30px;
        }

        @media only screen and (max-width: 600px) {
            p.pphcenterformobile, td.pphcenterformobile {
                text-align: center !important;
                font-size: 16px !important;
            }
        }
    </style>
</head>
<body>
<table class="body">
<tr>
<td class="center" align="center" valign="top">
<center>
<!--START HEADER-->
<table class="row header" background="https://pph_mailchap_images.s3.amazonaws.com/Newsletter/blackbg.png">
    <tr>
        <td class="center" align="center">
            <center>
                <table class="container">
                    <tr>
                        <td class="wrapper last">
                            <table class="twelve columns">
                                <tr>
                                    <td class="five sub-columns" style="text-align:left; vertical-align:middle;">
                                        <a href="http://www.peopleperhour.com" target="_blank" title="PeoplePerHour">
                                            <img alt="PeoplePerHour.com" height="25" width="142"
                                                 src="https://pph_mailchap_images.s3.amazonaws.com/Newsletter/logo.png"/>
                                        </a>
                                    </td>
                                    <td class="seven sub-columns last" align="right"
                                        style="text-align:right; vertical-align:middle;">
                                        <a href="http://facebook.com/peopleperhour"><img class="footericon pphnormalimg"
                                                                                         width="16px" height="16px"
                                                                                         alt="PeoplePerHour at Facebook"
                                                                                         src="https://pph_mailchap_images.s3.amazonaws.com/Newsletter/icon-facebook.png"/></a>
                                        <a href="http://twitter.com/peopleperhour"><img class="footericon pphnormalimg"
                                                                                        width="16px" height="16px"
                                                                                        alt="PeoplePerHour at Twitter"
                                                                                        src="https://pph_mailchap_images.s3.amazonaws.com/Newsletter/icon-twitter.png"/></a>
                                        <a href="https://www.linkedin.com/company/167584"><img
                                                class="footericon pphnormalimg" width="16px" height="16px"
                                                alt="PeoplePerHour at LinkedIn"
                                                src="https://pph_mailchap_images.s3.amazonaws.com/Newsletter/icon-linkedin.png"/></a>
                                        <a href="http://pinterest.com/peopleperhour"><img
                                                class="footericon pphnormalimg" width="16px" height="16px"
                                                alt="PeoplePerHour at pinterest"
                                                src="https://pph_mailchap_images.s3.amazonaws.com/Newsletter/icon-pinterest.png"/></a>
                                        <a href="http://plus.google.com/+peopleperhour"><img
                                                class="footericon pphnormalimg" width="16px" height="16px"
                                                alt="PeoplePerHour at Google+"
                                                src="https://pph_mailchap_images.s3.amazonaws.com/Newsletter/icon-google.png"/></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>
<!--END HEADER-->
<!--TITLE   -->
<table class="row">
    <tr>
        <td class="wrapper last">
            <table class="twelve columns">
                <tr>
                    <td class="center pph-discount">Up to 60% off - Only 24 hours left</td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--END TITLE-->
<table class="container">
<!--FIRST ROW-->
<tr>
    <td>
        <table class="row">
            <tr>
                <td class="wrapper">
                    <table class="six column pph-hourlie">
                        <tr>
                            <td class="content">
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class=" center">
                                                        <a href="[[HourlieURL_1]]">
                                                            <img class="center" width="280" height="209"
                                                                 alt="[[HourlieTitle_1]]" src="[[imgURL_1]]"/>
                                                        </a>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pphcenterformobile pph-hourlie-title">
                                                        <div><a href="[[HourlieURL_1]]">[[HourlieTitle_1]]</a></div>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr class="grey">
                                        <td class="wrapper">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pph-hourlie-left seven sub-columns quiet">
                                                        <span class="price original">[[HourliePrice_1]]</span>
                                                        <span class="price discount">[[HourlieDisc_1]]</span>
                                                    </td>
                                                    <td class=" five sub-columns last center">
                                                        <table class="button radius call-to-action" align="center">
                                                            <tr>
                                                                <td>
                                                                    <a href="[[HourlieURL_1]]">
                                                                        VIEW MORE
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td class="wrapper last">
                    <table class="six column pph-hourlie">
                        <tr>
                            <td class="content">
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class=" center">
                                                        <a href="[[HourlieURL_2]]">
                                                            <img class="center" width="280" height="209"
                                                                 alt="[[HourlieTitle_2]]" src="[[imgURL_2]]"/>
                                                        </a>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pphcenterformobile pph-hourlie-title">
                                                        <div><a href="[[HourlieURL_2]]">[[HourlieTitle_2]]</a></div>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr class="grey">
                                        <td class="wrapper">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pph-hourlie-left seven sub-columns quiet">
                                                        <span class="price original">[[HourliePrice_2]]</span>
                                                        <span class="price discount">[[HourlieDisc_2]]</span>
                                                    </td>
                                                    <td class=" five sub-columns last center">
                                                        <table class="button radius call-to-action" align="center">
                                                            <tr>
                                                                <td>
                                                                    <a href="[[HourlieURL_2]]">
                                                                        VIEW MORE
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!--END FIRST ROW-->
<!--SECOND ROW-->
<tr>
    <td>
        <table class="row">
            <tr>
                <td class="wrapper">
                    <table class="six column pph-hourlie">
                        <tr>
                            <td class="content">
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class=" center">
                                                        <a href="[[HourlieURL_3]]">
                                                            <img class="center" width="280" height="209"
                                                                 alt="[[HourlieTitle_3]]" src="[[imgURL_3]]"/>
                                                        </a>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pphcenterformobile pph-hourlie-title">
                                                        <div><a href="[[HourlieURL_3]]">[[HourlieTitle_3]]</a></div>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr class="grey">
                                        <td class="wrapper">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pph-hourlie-left seven sub-columns quiet">
                                                        <span class="price original">[[HourliePrice_3]]</span>
                                                        <span class="price discount">[[HourlieDisc_3]]</span>
                                                    </td>
                                                    <td class=" five sub-columns last center">
                                                        <table class="button radius call-to-action" align="center">
                                                            <tr>
                                                                <td>
                                                                    <a href="[[HourlieURL_3]]">
                                                                        VIEW MORE
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td class="wrapper last">
                    <table class="six column pph-hourlie">
                        <tr>
                            <td class="content">
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class=" center">
                                                        <a href="[[HourlieURL_4]]">
                                                            <img class="center" width="280" height="209"
                                                                 alt="[[HourlieTitle_4]]" src="[[imgURL_4]]"/>
                                                        </a>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pphcenterformobile pph-hourlie-title">
                                                        <div><a href="[[HourlieURL_4]]">[[HourlieTitle_4]]</a></div>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr class="grey">
                                        <td class="wrapper">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pph-hourlie-left seven sub-columns quiet">
                                                        <span class="price original">[[HourliePrice_4]]</span>
                                                        <span class="price discount">[[HourlieDisc_4]]</span>
                                                    </td>
                                                    <td class=" five sub-columns last center">
                                                        <table class="button radius call-to-action" align="center">
                                                            <tr>
                                                                <td>
                                                                    <a href="[[HourlieURL_4]]">
                                                                        VIEW MORE
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!--END SECOND ROW-->
<!--THIRD ROW-->
<tr>
    <td>
        <table class="row">
            <tr>
                <td class="wrapper">
                    <table class="six column pph-hourlie">
                        <tr>
                            <td class="content">
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class=" center">
                                                        <a href="[[HourlieURL_5]]">
                                                            <img class="center" width="280" height="209"
                                                                 alt="[[HourlieTitle_5]]" src="[[imgURL_5]]"/>
                                                        </a>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pphcenterformobile pph-hourlie-title">
                                                        <div><a href="[[HourlieURL_5]]">[[HourlieTitle_5]]</a></div>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr class="grey">
                                        <td class="wrapper">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pph-hourlie-left seven sub-columns quiet">
                                                        <span class="price original">[[HourliePrice_5]]</span>
                                                        <span class="price discount">[[HourlieDisc_5]]</span>
                                                    </td>
                                                    <td class=" five sub-columns last center">
                                                        <table class="button radius call-to-action" align="center">
                                                            <tr>
                                                                <td>
                                                                    <a href="[[HourlieURL_5]]">
                                                                        VIEW MORE
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td class="wrapper last">
                    <table class="six column pph-hourlie">
                        <tr>
                            <td class="content">
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class=" center">
                                                        <a href="[[HourlieURL_6]]">
                                                            <img class="center" width="280" height="209"
                                                                 alt="[[HourlieTitle_6]]" src="[[imgURL_6]]"/>
                                                        </a>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pphcenterformobile pph-hourlie-title">
                                                        <div><a href="[[HourlieURL_6]]">[[HourlieTitle_6]]</a></div>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr class="grey">
                                        <td class="wrapper">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pph-hourlie-left seven sub-columns quiet">
                                                        <span class="price original">[[HourliePrice_6]]</span>
                                                        <span class="price discount">[[HourlieDisc_6]]</span>
                                                    </td>
                                                    <td class=" five sub-columns last center">
                                                        <table class="button radius call-to-action" align="center">
                                                            <tr>
                                                                <td>
                                                                    <a href="[[HourlieURL_6]]">
                                                                        VIEW MORE
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!--END THIRD ROW-->
</table>
<br>
</center>
</td>
</tr>
<!-- START FAKE POST JOB FORM-->
<tr>
    <td>
        <center>
            <table class="row">
                <tr>
                    <td class="wrapper last">
                        <center>
                            <table class="twelve columns">
                                <tr>
                                    <td class="center custom-job">
                                        <span class="title">Do you need something custom?</span><br/>
                                        <a  href="http://www.peopleperhour.com/job/new?ref=email">
                                            <img class="center" alt="" src="https://d3ambpg2zf25sl.cloudfront.net/imgs/banners/email-post-job-1-140306.png">
                                        </a>
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
        </center>
    </td>
</tr>
<!-- ENDFAKE POST JOB FORM-->
<!--START FOOTER-->
<tr>
    <td>
        <center>
            <table class="row">
                <tr>
                    <td class="wrapper last pph-bgWhite">
                        <table class="twelve columns">
                            <tr>
                                <td align="center">
                                    <center>
                                        <div class="quiet" style="text-align:center;">
                                            <small>
                                                You are receiving this newsletter because you are registered in
                                                PeoplePerHour.<br>
                                                If you prefer not to receive it anymore, you may <a href="*|UNSUB|*">unsubscribe</a>.
                                            </small>
                                        </div>
                                    </center>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </td>
</tr>
<!--END FOOTER-->
</table>
<!-- container end below -->
<img alt="" width="1" height="1" src="*|IMGSTATS|*"/>
</body>
</html>
