<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <style>{{>ink}}</style>
    <style>
        body, table.body, h1, h2, h3, h4, h5, h6, p, td {
            font-family: Arial, Helvetica, sans-serif;
            color: #505050;
        }
        table.body {
            background-color: #eeeeee;
        }

        .header, .footer {
            background: #000 url(https://pph_mailchap_images.s3.amazonaws.com/Newsletter/blackbg.png);
        }

        .pphnormalimg {
            float: none;
            display: inline;
        }

        .footericon {
            margin: 6px;
        }

        table.pph-hourlie {
            background-color: #ffffff;
            moz-box-shadow: 3px 3px 10px #D8D8D8, -3px 0px 10px #D8D8D8;
            box-shadow: 3px 3px 10px #D8D8D8, -3px 3px 10px #D8D8D8;
            margin-bottom: 10px;
            border: 1px solid #dfdfdf;
        }

        table.pph-hourlie .wrapper {
            padding: 0;
        }

        .pph-hourlie img {
            width: 100%;
        }

        table.row.pph-default table.pph-hourlie td {
            padding: 0;
        }

        table.pph-hourlie td.pph-hourlie-title div {
            overflow: hidden;
            max-height: 20px;
        }

        table.pph-hourlie td.pph-hourlie-title a {
            text-decoration: none !important;
        }

        table.pph-hourlie td.pph-hourlie-left {
            line-height: 30px;
        }

        table.pph-hourlie tr.grey {
            background-color: #F5F5F5;
        }

        table.pph-hourlie tr.grey .wrapper {
            padding-top: 12px;
        }

        table.pph-hourlie td.content {
            padding-bottom: 0;
        }

        .quiet {
            color: #848484;
        }

        table.button.call-to-action {
            width: 100px;
        }
        table.button.call-to-action td {
            background-color: #ff7300;
            color: #fff;
            border-color: #ff6a26;
            height: 12px;
        }

        table.button.call-to-action:hover td {
            background-color: #ff6a26 !important;
        }

        table.button.call-to-action td a {
            text-decoration: none !important;
            font-size: 12px;
            width: 100px;
            line-height: 12px;
        }

        td.wrapper.pph-bgWhite {
            background-color: #FFFFFF;
        }

        td.wrapper.pph-bgLightGray {
            background-color: #F7F7F7;
        }

        table.pph-categories a {
            color: #333333;
            text-decoration: none !important;
            font-size: 12px;
        }

        table td.pph-explore-title {
            font-size: 20px;
            padding: 16px 0 23px 0;
        }

        table.pph-explore {
            margin: 40px 0px 20px 0px;
        }

        table td.pph-discount {
            font-size: 28px;
            padding: 25px 0;
        }

        a span.price{
            font-size: 13px;
            margin-right: 2px;
        }

        a span.price.original{
            color: #ffbc85;
            text-decoration: line-through;
        }
        a span.price.discount{
            color: #ffffff;
        }

        @media only screen and (max-width: 600px) {
            p.pphcenterformobile, td.pphcenterformobile {
                text-align: center !important;
                font-size: 16px !important;
            }
        }
    </style>
</head>
<body>
<table class="body">
<tr>
<td class="center" align="center" valign="top">
<center>
<!--START HEADER-->
<table class="row header" background="https://pph_mailchap_images.s3.amazonaws.com/Newsletter/blackbg.png">
    <tr>
        <td class="center" align="center">
            <center>
                <table class="container">
                    <tr>
                        <td class="wrapper last">
                            <table class="twelve columns">
                                <tr>
                                    <td class="five sub-columns" style="text-align:left; vertical-align:middle;">
                                        <a href="http://www.peopleperhour.com" target="_blank" title="PeoplePerHour">
                                            <img alt="PeoplePerHour.com" height="25" width="142"
                                                 src="https://pph_mailchap_images.s3.amazonaws.com/Newsletter/logo.png"/>
                                        </a>
                                    </td>
                                    <td class="seven sub-columns last" align="right"
                                        style="text-align:right; vertical-align:middle;">
                                        <a href="http://facebook.com/peopleperhour"><img class="footericon pphnormalimg"
                                                                                         width="16px" height="16px"
                                                                                         alt="PeoplePerHour at Facebook"
                                                                                         src="https://pph_mailchap_images.s3.amazonaws.com/Newsletter/icon-facebook.png"/></a>
                                        <a href="http://twitter.com/peopleperhour"><img class="footericon pphnormalimg"
                                                                                        width="16px" height="16px"
                                                                                        alt="PeoplePerHour at Twitter"
                                                                                        src="https://pph_mailchap_images.s3.amazonaws.com/Newsletter/icon-twitter.png"/></a>
                                        <a href="https://www.linkedin.com/company/167584"><img
                                                class="footericon pphnormalimg" width="16px" height="16px"
                                                alt="PeoplePerHour at LinkedIn"
                                                src="https://pph_mailchap_images.s3.amazonaws.com/Newsletter/icon-linkedin.png"/></a>
                                        <a href="http://pinterest.com/peopleperhour"><img
                                                class="footericon pphnormalimg" width="16px" height="16px"
                                                alt="PeoplePerHour at pinterest"
                                                src="https://pph_mailchap_images.s3.amazonaws.com/Newsletter/icon-pinterest.png"/></a>
                                        <a href="http://plus.google.com/+peopleperhour"><img
                                                class="footericon pphnormalimg" width="16px" height="16px"
                                                alt="PeoplePerHour at Google+"
                                                src="https://pph_mailchap_images.s3.amazonaws.com/Newsletter/icon-google.png"/></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>
<!--END HEADER-->
<!--TITLE   -->
<table class="row">
    <tr>
        <td class="wrapper last">
            <table class="twelve columns">
                <tr>
                    <td class="center pph-discount">Up to 60% off - Only 24 hours left</td>
                    <td class="expander"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--END TITLE-->
<table class="container">
<!--FIRST ROW-->
<tr>
    <td>
        <table class="row">
            <tr>
                <td class="wrapper">
                    <table class="six column pph-hourlie">
                        <tr>
                            <td class="content">
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class=" center">
                                                        <a href="[[HourlieURL_1]]">
                                                            <img class="center" width="280" height="209"
                                                                 alt="[[HourlieTitle_1]]" src="[[imgURL_1]]"/>
                                                        </a>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pphcenterformobile pph-hourlie-title">
                                                        <div><a href="[[HourlieURL_1]]">[[HourlieTitle_1]]</a></div>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr class="grey">
                                        <td class="wrapper">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pph-hourlie-left seven sub-columns quiet">
                                                        [[HourlieLeft_1]]
                                                    </td>
                                                    <td class=" five sub-columns last center">
                                                        <table class="button radius call-to-action" align="center">
                                                            <tr>
                                                                <td>
                                                                    <a href="[[HourlieURL_1]]">
                                                                        <span class="price original">[[HourliePrice_1]]</span>
                                                                        <span class="price discount">[[HourlieDisc_1]]</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td class="wrapper last">
                    <table class="six column pph-hourlie">
                        <tr>
                            <td class="content">
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class=" center">
                                                        <a href="[[HourlieURL_2]]">
                                                            <img class="center" width="280" height="209"
                                                                 alt="[[HourlieTitle_2]]" src="[[imgURL_2]]"/>
                                                        </a>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pphcenterformobile pph-hourlie-title">
                                                        <div><a href="[[HourlieURL_2]]">[[HourlieTitle_2]]</a></div>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr class="grey">
                                        <td class="wrapper">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pph-hourlie-left seven sub-columns quiet">
                                                        [[HourlieLeft_2]]
                                                    </td>
                                                    <td class=" five sub-columns last center">
                                                        <table class="button radius call-to-action" align="center">
                                                            <tr>
                                                                <td>
                                                                    <a href="[[HourlieURL_2]]">
                                                                        <span class="price original">[[HourliePrice_2]]</span>
                                                                        <span class="price discount">[[HourlieDisc_2]]</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!--END FIRST ROW-->
<!--SECOND ROW-->
<tr>
    <td>
        <table class="row">
            <tr>
                <td class="wrapper">
                    <table class="six column pph-hourlie">
                        <tr>
                            <td class="content">
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class=" center">
                                                        <a href="[[HourlieURL_3]]">
                                                            <img class="center" width="280" height="209"
                                                                 alt="[[HourlieTitle_3]]" src="[[imgURL_3]]"/>
                                                        </a>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pphcenterformobile pph-hourlie-title">
                                                        <div><a href="[[HourlieURL_3]]">[[HourlieTitle_3]]</a></div>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr class="grey">
                                        <td class="wrapper">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pph-hourlie-left seven sub-columns quiet">
                                                        [[HourlieLeft_3]]
                                                    </td>
                                                    <td class=" five sub-columns last center">
                                                        <table class="button radius call-to-action" align="center">
                                                            <tr>
                                                                <td>
                                                                    <a href="[[HourlieURL_3]]">
                                                                        <span class="price original">[[HourliePrice_3]]</span>
                                                                        <span class="price discount">[[HourlieDisc_3]]</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td class="wrapper last">
                    <table class="six column pph-hourlie">
                        <tr>
                            <td class="content">
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class=" center">
                                                        <a href="[[HourlieURL_4]]">
                                                            <img class="center" width="280" height="209"
                                                                 alt="[[HourlieTitle_4]]" src="[[imgURL_4]]"/>
                                                        </a>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pphcenterformobile pph-hourlie-title">
                                                        <div><a href="[[HourlieURL_4]]">[[HourlieTitle_4]]</a></div>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr class="grey">
                                        <td class="wrapper">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pph-hourlie-left seven sub-columns quiet">
                                                        [[HourlieLeft_4]]
                                                    </td>
                                                    <td class=" five sub-columns last center">
                                                        <table class="button radius call-to-action" align="center">
                                                            <tr>
                                                                <td>
                                                                    <a href="[[HourlieURL_4]]">
                                                                        <span class="price original">[[HourliePrice_4]]</span>
                                                                        <span class="price discount">[[HourlieDisc_4]]</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!--END SECOND ROW-->
<!--THIRD ROW-->
<tr>
    <td>
        <table class="row">
            <tr>
                <td class="wrapper">
                    <table class="six column pph-hourlie">
                        <tr>
                            <td class="content">
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class=" center">
                                                        <a href="[[HourlieURL_5]]">
                                                            <img class="center" width="280" height="209"
                                                                 alt="[[HourlieTitle_5]]" src="[[imgURL_5]]"/>
                                                        </a>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pphcenterformobile pph-hourlie-title">
                                                        <div><a href="[[HourlieURL_5]]">[[HourlieTitle_5]]</a></div>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr class="grey">
                                        <td class="wrapper">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pph-hourlie-left seven sub-columns quiet">
                                                        [[HourlieLeft_5]]
                                                    </td>
                                                    <td class=" five sub-columns last center">
                                                        <table class="button radius call-to-action" align="center">
                                                            <tr>
                                                                <td>
                                                                    <a href="[[HourlieURL_5]]">
                                                                        <span class="price original">[[HourliePrice_5]]</span>
                                                                        <span class="price discount">[[HourlieDisc_5]]</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td class="wrapper last">
                    <table class="six column pph-hourlie">
                        <tr>
                            <td class="content">
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class=" center">
                                                        <a href="[[HourlieURL_6]]">
                                                            <img class="center" width="280" height="209"
                                                                 alt="[[HourlieTitle_6]]" src="[[imgURL_6]]"/>
                                                        </a>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr>
                                        <td class="wrapper pph-bgWhite">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pphcenterformobile pph-hourlie-title">
                                                        <div><a href="[[HourlieURL_6]]">[[HourlieTitle_6]]</a></div>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table class="row">
                                    <tr class="grey">
                                        <td class="wrapper">
                                            <table class="six columns">
                                                <tr>
                                                    <td class="text-pad pph-hourlie-left seven sub-columns quiet">
                                                        [[HourlieLeft_6]]
                                                    </td>
                                                    <td class=" five sub-columns last center">
                                                        <table class="button radius call-to-action" align="center">
                                                            <tr>
                                                                <td>
                                                                    <a href="[[HourlieURL_6]]">
                                                                        <span class="price original">[[HourliePrice_6]]</span>
                                                                        <span class="price discount">[[HourlieDisc_6]]</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!--END THIRD ROW-->
</table>
<br>
</center>
</td>
</tr>
<!--EXPLORE VERSION 1-->
<!--<tr>
    <td>
        <center>
            <table class="row">
                <tr>
                    <td class="wrapper last">
                        <center>
                            <table class="six columns">
                                <tr>
                                    <td align="center">
                                        <center>
                                            <table class="four columns button radius call-to-action">
                                                <tr>
                                                    <td>
                                                        <a href="#">EXPLORE THE MARKETPLACE</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </center>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
        </center>
    </td>
</tr>-->
<!--END EXPLORE VERSION 1-->
<!--EXPLORE VERSION 2-->
<tr>
    <td>
        <center>
            <table class="row pph-explore">
                <tr>
                    <td class="wrapper last pph-bgLightGray">
                        <center>
                            <table class="six columns">
                                <tr>
                                    <td class="center pph-explore-title">
                                        <center>
                                            Explore the Marketplace
                                        </center>
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
        </center>
    </td>
</tr>
<!--END EXPLORE VERSION 2-->
<!--CATEGORIES START-->
<tr>
    <td>
        <table class="container pph-categories">
            <tr>
                <td>
                    <table class="row">
                        <tr>
                            <td class="wrapper">
                                <table class="columns four">
                                    <tr>
                                        <td>
                                            <table align="center">
                                                <tr>
                                                    <td class="pphcenterformobile">
                                                        <strong>
                                                            <a href="http://www.peopleperhour.com/hourlies/design/6650?ref=daily-mail-categories">DESIGN</a></strong><br />
                                                        - <a href="http://www.peopleperhour.com/hourlies/design/6650/website-app/6880?ref=daily-mail-categories">Website & App</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/design/6650/arts-illustration/7440?ref=daily-mail-categories">Arts & Illustration</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/design/6650/logo-identity/6660?ref=daily-mail-categories">Logo & Identity</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/design/6650/business-advertising/7240?ref=daily-mail-categories">Business & Advertising</a><br/>
                                                        <br/><strong><a href="http://www.peopleperhour.com/hourlies/sales-marketing/4900?ref=daily-mail-categories">SALES & MARKETING</a></strong><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/sales-marketing/4900/seo/4910?ref=daily-mail-categories">SEO</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/sales-marketing/4900/sem-adwords-ppc/4990?ref=daily-mail-categories">SEM/Adwords/PPC</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/sales-marketing/4900/sales-calls/5010?ref=daily-mail-categories">Sales/Calls</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/sales-marketing/4900/business-data/5100?ref=daily-mail-categories">Business data</a><br/>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td><td class="expander"></td>
                                    </tr>
                                </table>
                            </td>
                            <td class="wrapper">
                                <table class="columns four">
                                    <tr>
                                        <td>
                                            <table align="center">
                                                <tr>
                                                    <td class="pphcenterformobile">
                                                        <strong>
                                                            <a href="http://www.peopleperhour.com/hourlies/web-development/1930?ref=daily-mail-categories">WEB DEVELOPMENT</a></strong><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/web-development/1930/custom-website/1990?ref=daily-mail-categories">Custom Website</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/web-development/1930/other/2220?ref=daily-mail-categories">Other</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/web-development/1930/mobile-website/2060?ref=daily-mail-categories">Mobile Website</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/web-development/1930/ecommerce/2070?ref=daily-mail-categories">eCommerce</a><br/>
                                                        <strong>
                                                            <br />
                                                            <a href="http://www.peopleperhour.com/hourlies/video-photo-audio/10?ref=daily-mail-categories">VIDEO, PHOTO & AUDIO</a></strong><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/video-photo-audio/10/video/20?ref=daily-mail-categories">Video</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/video-photo-audio/10/image-editing/270?ref=daily-mail-categories">Image Editing</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/video-photo-audio/10/audio/200?ref=daily-mail-categories">Audio</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/video-photo-audio/10/photography/110?ref=daily-mail-categories">Photography</a><br/>
                                                        </td>
                                                </tr>
                                            </table>
                                        </td><td class="expander"></td>
                                    </tr>
                                </table>
                            </td>
                            <td class="wrapper">
                                <table class="columns four">
                                    <tr>
                                        <td>
                                            <table align="center">
                                                <tr>
                                                    <td class="pphcenterformobile">
                                                        <strong>
                                                            <a href="http://www.peopleperhour.com/hourlies/writing-translation/8480?ref=daily-mail-categories">WRITING & TRANSLATION</a></strong><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/writing-translation/8480/web-content/8490?ref=daily-mail-categories">Web Content</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/writing-translation/8480/copywriting-proofreading/8590?ref=daily-mail-categories">Copywriting/Proofreading</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/writing-translation/8480/business-marketing/8690?ref=daily-mail-categories">Business & Marketing</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/writing-translation/8480/article/8580?ref=daily-mail-categories">Article</a><br/>
                                                        <br/><strong><a href="http://www.peopleperhour.com/hourlies/social-media/6030?ref=daily-mail-categories">SOCIAL MEDIA</a></strong><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/social-media/6030/facebook-marketing/6040?ref=daily-mail-categories">Facebook marketing</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/social-media/6030/twitter-marketing/6080?ref=daily-mail-categories">Twitter marketing</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/social-media/6030/linkedin-marketing/6160?ref=daily-mail-categories">Linkedin marketing</a><br/>
                                                        - <a href="http://www.peopleperhour.com/hourlies/social-media/6030/google-marketing/6180?ref=daily-mail-categories">Google+ marketing</a><br/>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td><td class="expander"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!--CATEGORIES END-->
<!--START FOOTER-->
<tr>
    <td>
        <center>
            <table class="row">
                <tr>
                    <td class="wrapper last pph-bgWhite">
                        <table class="twelve columns">
                            <tr>
                                <td align="center">
                                    <center>
                                        <p class="quiet" style="text-align:center;">
                                            <small>
                                                You are receiving this newsletter because you are registered in
                                                PeoplePerHour.<br>
                                                If you prefer not to receive it anymore, you may <a href="*|UNSUB|*">unsubscribe</a>.
                                            </small>
                                        </p>
                                    </center>
                                </td><td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </td>
</tr>
<!--END FOOTER-->
</table>
<!-- container end below -->
<img alt="" width="1" height="1" src="*|IMGSTATS|*"/>
</body>
</html>
