<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <style>{{>ink}}</style>
    <style>{{>pph-main}}</style>
    <style>{{>buttons}}</style>
    <style>{{>hourlies}}</style>
    <style>{{>jobs}}</style>
</head>
<body>
	<table class="body">
    <tr>
        <td>
            <!-- BEGIN: Header -->
            {{> _header }}
            <!-- END: Header -->
            <!-- BEGIN: Main Content -->
            <table class="container bgWhite main-content">
                <tr>
                    <td>
                        {{> _proposalBox }}
                        <!--
                        HINT: Replace the following text with <?php echo $content; ?>
                        -->
                        [MAIN CONTENT HERE]
                    </td>
                </tr>
            </table>
            <!-- END: Main Content -->
            <!-- BEGIN: Footer -->
            {{> _footer }}
            <!-- END: Footer -->
        </td>
    </tr>
</table>
</body>
</html>