<div class="content-header">
    <table>
        <tr>
            <td class="title">
                <h1>Invite your friends to PPH and earn cash!</h1>
            </td>
        </tr>
        <tr>
            <td class="text-pad">
                <hr class="separator"/>
            </td>
        </tr>
    </table>
</div>

<table class="block-grid two-up">
    <tr>
        <td>
            Hey {memberFname},<br />
                    <br />
                    Don&#39;t forget - you can <strong>earn {rewardAmount}</strong> each time<br />
                    you invite a friend and they start their<br />
                    first project on PeoplePerHour*.
        </td><td>
            <a href="{baseUrl}/promotions/referral?utm_medium=email&amp;utm_source=FeatureReengagementReferralDualEmail&amp;utm_campaign=referral-reengagement" style="display:block; padding:0; color:#fff; text-decoration:none; margin: 0;"> <img src="{cdnUrl}/css/pph2/mails/referral_logo.jpg" style="border: 0; margin: 0; display: block; outline: 0;" /> </a>
        </td>
    </tr>
</table>

<table class="block-grid two-up">
    <tr>
        <td>
            You get a cool badge for your profile,<br />
            and your friend will get 20% off their<br />
            first job too - it&#39;s a win-win!<br />
            <a href="{baseUrl}/promotions/referral?utm_medium=email&amp;utm_source=FeatureReengagementReferralDualEmail&amp;utm_campaign=referral-reengagement"> <img alt="Get a cool badge for your profile" src="{cdnUrl}/css/pph2/mails/referral_badge.jpg" style="border: none; outline: none; display: inline-block; margin-top: 10px;" /> </a>
        </td><td>
            <a href="{baseUrl}/promotions/referral?utm_medium=email&amp;utm_source=FeatureReengagementReferralDualEmail&amp;utm_campaign=referral-reengagement"> <img alt="Get a cool badge for your profile" src="{cdnUrl}/css/pph2/mails/referral_profile.jpg" style="border: none; outline: none; display: inline-block; margin-bottom: 30px;" /> </a>
        </td>
    </tr>
</table>

<div class="container-padding pph-btn buttons-container">
    <center>
    <table class="button small-button radius main-action" style="width: 280px">
        <tr>
            <td style="background: #FF7300 !important; border: 1px solid #FF7300 !important" bgcolor="#FF7300">
                <a href="{baseUrl}/promotions/referral?utm_medium=email&amp;utm_source=FeatureReengagementReferralDualEmail&amp;utm_campaign=referral-reengagement" style="color: #ffffff; width: 280px;">Invite Friends to PPH</a>
            </td>
        </tr>
    </table>
    </center>
</div>

<div class="container-padding padding-bottom">
    <table>
        <tr>
            <td align="left">
                Kind Regards<br>
                <strong>The PeoplePerHour Support Ninjas</strong>
            </td>
        </tr>
    </table>
</div>