<div class="content-header">
    <table>
        <tr>
            <td class="title">
                <h1>There are more new Jobs every day on PPH so get active!</h1>
            </td>
        </tr>
        <tr>
            <td class="text-pad">
                <hr class="separator"/>
            </td>
        </tr>
    </table>
</div>

<div style="padding: 0 15px;">
    <p>Hey {memberFname},</p>
    <p>
    Right now there are over 400 new Jobs being posted every day on PeoplePerHour and we don&rsquo;t want you to miss out on a single one. It has been a while since you&rsquo;ve sent a Proposal and we want to get you back in the swing of things because we know that our Freelancers keep our community going!
    </p>
    <p>
    Not only are there more Jobs being posted on a daily basis, the variety of the Jobs is growing so there&rsquo;s no reason why you can&rsquo;t find something to match your area of expertise. Whether you&rsquo;re a videographer or editor, a graphic designer or illustrator, an accountant or a virtual assistant, there is a Buyer waiting to hire you.
    </p>
    <p>So what are you waiting for? You&rsquo;re next Job is waiting for you. Don&rsquo;t let it get away!</p>

    <div class="container-padding pph-btn buttons-container">
        <center>
        <table class="button small-button radius main-action" style="width: 280px">
            <tr>
                <td style="background: #FF7300 !important; border: 1px solid #FF7300 !important" bgcolor="#FF7300">
                    <a href="{baseUrl}/promotions/send-proposal?utm_medium=email&amp;utm_source=FeatureReengagementSendProposalEmail&amp;utm_campaign=send-proposal-reengagement" style="color: #ffffff; width: 280px;">Find your next Job</a>
                </td>
            </tr>
        </table>
        </center>
    </div>

</div>

<div class="container-padding padding-bottom">
    <table>
        <tr>
            <td align="left">
                Kind Regards<br>
                <strong>The PeoplePerHour Support Ninjas</strong>
            </td>
        </tr>
    </table>
</div>