<div class="content-header">
    <table>
        <tr>
            <td class="title">
                <h1>Get Endorsed and move up the ranks!</h1>
            </td>
        </tr>
        <tr>
            <td class="text-pad">
                <hr class="separator"/>
            </td>
        </tr>
    </table>
</div>

<div style="padding: 0 15px">
    <p>Hey {memberFname},</p>
    <p>You need to get endorsed to get ahead in PeoplePerHour. Our community is based on feedback and trust - <strong>most of our top sellers have been endorsed over 20 times</strong>.<br />
    Endorsements will help you quickly boost your reputation, move up the search results and win more work. Get your friends, colleagues or ex-bosses to endorse you now, it just takes a moment.
    </p>
    <p>
    You can also work on Zero Service Fee with your endorsers if they join you on PPH!<br />
    Plus if you get 5+ Endorsements you will get a cool profile badge.
    </p>


<p style="text-align:center; font-size: 15px; font-weight: bold;">Endorsements will be visible on your PPH profile</p>
<div style="text-align:center;">
<a href="{baseUrl}/promotions/endorsement?utm_medium=email&utm_source=FeatureReengagementGetEndorsedEmail&utm_campaign=endorsement-reengagement" style="display: block; outline: none; border: 0; text-decoration: none"> <img alt="Endorsements will be visible on your PPH profile" src="{cdnUrl}/css/pph2/mails/endorsements_profile.jpg" style="float:none; display: block; margin: 0 auto; text-decoration: none;" /> </a>
</div>

<p style="margin-top: 15px; text-align:center; font-size: 15px; font-weight: bold;">With 5+ endorsements, you will get an exclusive profile badge</p>
<div style="text-align:center;">
<a href="{baseUrl}/promotions/endorsement?utm_medium=email&utm_source=FeatureReengagementGetEndorsedEmail&utm_campaign=endorsement-reengagement"> <img alt="With 5+ endorsements you will get an exclusive profile badge" src="{cdnUrl}/css/pph2/mails/endorsements_badge.jpg" style="float:none; display: block; margin: 0 auto; text-decoration: none;" /> </a>
</div>
    <div class="container-padding pph-btn buttons-container">
        <center>
        <table class="button small-button radius main-action" style="width: 280px">
            <tr>
                <td style="background: #FF7300 !important; border: 1px solid #FF7300 !important" bgcolor="#FF7300">
                    <a href="{baseUrl}/promotions/endorsement?utm_medium=email&utm_source=FeatureReengagementGetEndorsedEmail&utm_campaign=endorsement-reengagement" style="color: #ffffff; width: 280px;">Get Endorsed now</a>
                </td>
            </tr>
        </table>
        </center>
    </div>
</div>
<div class="container-padding padding-bottom">
    <table>
        <tr>
            <td align="left">
                <strong>Good luck out there!</strong><br>
                The PeoplePerHour Support Ninjas
            </td>
        </tr>
    </table>
</div>