<div style="padding: 15px 15px 0 15px;">
    <p>Hey {memberFname},</p>
    <p>
        You should really personalize your availability to work on your Hourlies so that you set the right expectation with Buyers from the start and avoid getting penalised for lateness or non-delivery or getting over flooded with orders you can&#39;t fulfill.<br />
        <br />
        To set your availability simply click on <a href="{baseUrl}/promotions/member-availability?medium=email&amp;source=FeatureReengagementMemberAvailabilityEmail" style="cursor: pointer;text-decoration:none;">Availability Settings</a> and change the following parameters:</p>
    <ul>
        <li>
            <b>Max. orders</b> - How many simultaneous Hourlie orders you can handle</li>
        <li>
            <b>Working days</b> - The days of the week you&rsquo;re available to work</li>
        <li>
            <b>Off days</b> - Set dates you&rsquo;ll be unavailable or on vacation</li>
    </ul>

    <div class="container-padding pph-btn buttons-container">
        <center>
        <table class="button small-button radius main-action" style="width: 280px">
            <tr>
                <td style="background: #FF7300 !important; border: 1px solid #FF7300 !important" bgcolor="#FF7300">
                    <a href="{baseUrl}/promotions/member-availability?utm_medium=email&amp;utm_source=FeatureReengagementMemberAvailabilityEmail&amp;utm_campaign=member-availability-reengagement" style="color: #ffffff; width: 280px;">Set My Availability</a>
                </td>
            </tr>
        </table>
        </center>
    </div>

</div>

<div class="container-padding padding-bottom">
    <table>
        <tr>
            <td align="left">
                Best Regards<br>
                <strong>The PPH Team</strong>
            </td>
        </tr>
    </table>
</div>