<div class="content-header">
    <table>
        <tr>
            <td class="title">
                <h1>Work with your clients for Zero Service Fee!</h1>
            </td>
        </tr>
        <tr>
            <td class="text-pad">
                <hr class="separator"/>
            </td>
        </tr>
    </table>
</div>
<div style="padding: 0 15px;">
    <p>Hey {memberFname},</p>
    <p>
    Want to improve your rating, move up the ranks, and earn more money through PeoplePerHour? Here&#39;s how!</p>
    <p>
        Bring outside clients to PPH - you can do all your work in one place, build up your reputation and earn more work, all without any PPH fees! And your new clients will get a discount off their first job too - it&#39;s a win-win :)
    </p>
    <p>
        <span style="margin: 0; padding: 7px 10px; vertical-align: top; font-weight: bold; font-size: 16px;">✓</span>Free use of escrow deposit and invoice system</p>
    <p>
        <span style="margin: 0; padding: 7px 10px; vertical-align: top; font-weight: bold; font-size: 16px;">✓</span>All your clients invoices, statements and messaging in one place</p>
    <p>
        <span style="margin: 0; padding: 7px 10px; vertical-align: top; font-weight: bold; font-size: 16px;">✓</span>Enhanced feedback and earnings to push you up the PPH ranks</p>
    <p>
        <span style="margin: 0; padding: 7px 10px; vertical-align: top; font-weight: bold; font-size: 16px;">✓</span>Customer support to help with payment collection when needed</p>

    <div class="container-padding pph-btn buttons-container">
        <center>
        <table class="button small-button radius main-action" style="width: 280px">
            <tr>
                <td style="background: #FF7300 !important; border: 1px solid #FF7300 !important" bgcolor="#FF7300">
                    <a href="{baseUrl}/promotions/buyer-invitations?utm_medium=email&amp;utm_source=FeatureReengagementZeroCommissionEmail&amp;utm_campaign=buyer-invitations-reengagement" style="color: #ffffff; width: 280px;">Invite Clients to PPH</a>
                </td>
            </tr>
        </table>
        </center>
    </div>

</div>
<div class="container-padding padding-bottom">
    <table>
        <tr>
            <td align="left">
                Kind Regards<br>
                <strong>The PeoplePerHour Support Ninjas</strong>
            </td>
        </tr>
    </table>
</div>