<div class="content-header">
    <table>
        <tr>
            <td class="title">
                <h1>Claim your personal URL</h1>
            </td>
        </tr>
        <tr>
            <td class="subtitle" style="color:#8FD117;">
                &ldquo;{vanityUrl}&rdquo;
            </td>
        </tr>
        <tr>
            <td class="text-pad">
                <hr class="separator"/>
            </td>
        </tr>
    </table>
</div>


<div style="padding: 0 15px;">
<p>Hey {memberFname},</p>
<p>Want to win more work on PPH? Get your name and skills out there with your one personalized short URL - make it
<strong>easy for people to remember and find you!</strong></p>
<p>All you need to do is go to your profile <a href="{baseUrl}/promotions/personalized-urls?medium=email"><span style="color: #FC741E; text-decoration: none;">Settings</span></a> and claim your own <strong> <a href="{baseUrl}/promotions/personalized-urls?medium=email" style="display: inline-block;"><span style="color: #FC741E; text-decoration: none;">{vanityUrl}</a></strong> URL. Over 2000 have been claimed already,
so make sure you claim your name or a memorable name you'd like to promote your profile under.
</p>

<div class="padding-bottom padding-top">
    <center>
    <img src="{cdnUrl}/css/pph2/mails/presonal_url.png" alt="Claim your personal url" style="float:none;">
    </center>
</div>

<p>
    Once you've got your sweet personal URL, get the word out! We've got several easy ways you can Promote Yourself and get more work on PPH.
</p>
<p>
    So don't waste time. Claim your URL, Promote Yourself and watch the work roll in!
</p>

<div class="container-padding pph-btn buttons-container">
    <center>
    <table class="button small-button radius main-action" style="width: 280px">
        <tr>
            <td style="background: #FF7300 !important; border: 1px solid #FF7300 !important" bgcolor="#FF7300">
                <a href="{baseUrl}/promotions/personalized-urls?medium=email&source=FeatureReengagementPersonalUrlEmail" style="color: #ffffff; width: 280px;">Promote Yourself</a>
            </td>
        </tr>
    </table>
    </center>
</div>
