<div class="content-header">
    <table>
        <tr>
            <td class="title">
                <h1>Want to win more work on PPH? Get your widget</h1>
            </td>
        </tr>
        <tr>
            <td class="text-pad">
                <hr class="separator"/>
            </td>
        </tr>
    </table>
</div>

<div style="padding: 0 15px">
    <br />
    Hey {memberFname},<br />
    <br />
    Would you like a quick, easy way to promote yourself and win more work on PPH?<br />
    Well you&#39;re in luck!<br />
    The personalized <a href="{baseUrl}/promotions/hire-me?medium=email&amp;source=FeatureReengagementHireMeEmail"> <span style="color: #FC741E; text-decoration: none;">Hire Me widget</span> </a> allows you to share your PPH profile on your website. The Hire me Widget features:<br />
    <br />
    <table border="0" cellpadding="0" cellspacing="0" style="padding: 0; margin: 0; width: 95%">
        <tbody>
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" style="">
                        <tbody>
                            <tr>
                                <td style="margin: 0; padding: 27px 10px 0 0; vertical-align: top; font-weight: bold; font-size: 16px;">
                                    ✓</td>
                                <td style="padding: 20px 20px 0 0;">
                                    <strong>Customization:</strong>&nbsp;Choose the colour, size and shape that best suits your site design</td>
                            </tr>
                            <tr>
                                <td style="margin: 0; padding: 27px 10px 0 0; vertical-align: top; font-weight: bold; font-size: 16px;">
                                    ✓</td>
                                <td style="padding: 20px 20px 0 0;">
                                    <strong>Optional Hourlies:</strong>&nbsp;Choose whether or not to showcase your Hourlies with your widget</td>
                            </tr>
                            <tr>
                                <td style="margin: 0; padding: 27px 10px 0 0; vertical-align: top; font-weight: bold; font-size: 16px;">
                                    ✓</td>
                                <td style="padding: 20px 20px 0 0;">
                                    <strong>Zero Commission:</strong>&nbsp;Best of all, you will not receive any commission fees when working with anyone who hires you through your widget!</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <a href="{baseUrl}/promotions/hire-me?medium=email&amp;source=FeatureReengagementHireMeEmail" style="display: block; text-decoration: none; border: 0; outline: none;"> <img hspace="0" src="{cdnUrl}/css/pph2/mails/profile_widget.jpg" style="display: block; border: 0; outline: 0; margin: 0 auto;" vspace="0" /> </a></td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    So what are you waiting for? Create your personalized widget now and win more work.<br />
    <br />

    <div class="container-padding pph-btn buttons-container">
        <center>
        <table class="button small-button radius main-action" style="width: 280px">
            <tr>
                <td style="background: #FF7300 !important; border: 1px solid #FF7300 !important" bgcolor="#FF7300">
                    <a href="{baseUrl}/promotions/hire-me?medium=email&amp;source=FeatureReengagementHireMeEmail" style="color: #ffffff; width: 280px;">Get your widget</a>
                </td>
            </tr>
        </table>
        </center>
    </div>
</div>

<div class="container-padding padding-bottom">
    <table>
        <tr>
            <td align="left">
                Kind Regards<br>
                <strong>The PeoplePerHour Support Ninjas</strong>
            </td>
        </tr>
    </table>
</div>