<div class="content-header">
    <table>
        <tr>
            <td class="title">
                <h1>Invite your friends to PPH and earn cash!</h1>
            </td>
        </tr>
        <tr>
            <td class="text-pad">
                <hr class="separator"/>
            </td>
        </tr>
    </table>
</div>

<div style="padding: 0 15px;">
    <p>Hey {memberFname},</p>

    <p style="text-align:center; font-size: 15px; font-weight: bold;">
        Don&#39;t forget - you can <strong>earn {rewardAmount}</strong> each time you invite a friend and they start their  first project on PeoplePerHour*.
    </p>
    <div style="text-align:center;">
        <a href="{baseUrl}/promotions/referral?utm_medium=email&amp;utm_source=FeatureReengagementReferralDualEmail&amp;utm_campaign=referral-reengagement" style="padding:0; color:#fff; text-decoration:none; margin: 0;"> <img src="{cdnUrl}/css/pph2/mails/referral_logo.jpg" style="float: none; border: 0; margin: 0; display: inline-block; outline: 0;" /> </a>
    </div>
    <p style="margin-top: 15px; text-align:center; font-size: 15px; font-weight: bold;">
        You get a cool badge for your profile, and your friend will get 20% off their first job too - it&#39;s a win-win! <br /><a href="{baseUrl}/promotions/referral?utm_medium=email&amp;utm_source=FeatureReengagementReferralDualEmail&amp;utm_campaign=referral-reengagement"> <img alt="Get a cool badge for your profile" src="{cdnUrl}/css/pph2/mails/referral_badge.jpg" style="float: none; border: none; outline: none; display: inline-block; margin-top: 10px;" /> </a>
    </p>
    <div style="text-align:center;">
        <a href="{baseUrl}/promotions/referral?utm_medium=email&amp;utm_source=FeatureReengagementReferralDualEmail&amp;utm_campaign=referral-reengagement"> <img alt="Get a cool badge for your profile" src="{cdnUrl}/css/pph2/mails/referral_profile.jpg" style="float:none; border: none; outline: none; display: inline-block; margin-bottom: 30px;" /> </a>
    </div>
    <div class="container-padding pph-btn buttons-container">
        <center>
        <table class="button small-button radius main-action" style="width: 280px">
            <tr>
                <td style="background: #FF7300 !important; border: 1px solid #FF7300 !important" bgcolor="#FF7300">
                    <a href="{baseUrl}/promotions/referral?utm_medium=email&amp;utm_source=FeatureReengagementReferralDualEmail&amp;utm_campaign=referral-reengagement" style="color: #ffffff; width: 280px;">Invite Friends to PPH</a>
                </td>
            </tr>
        </table>
        </center>
    </div>
</div>

<div class="container-padding padding-bottom">
    <table>
        <tr>
            <td align="left">
                Kind Regards<br>
                <strong>The PeoplePerHour Support Ninjas</strong>
            </td>
        </tr>
    </table>
</div>