<div class="content-header">
    <table>
        <tr>
            <td class="title">
                <h1>Complete your profile, get more Jobs on PPH</h1>
            </td>
        </tr>
        <tr>
            <td class="text-pad">
                <hr class="separator"/>
            </td>
        </tr>
    </table>
</div>

<div style="padding: 0 15px">
    <p>Hey {memberFname},</p>
    <p>Did you know - <strong>Buyers are 100% more likely to purchase from Freelancers who have complete profiles</strong>. Your Profile is a critical part in winning you more work, so update it today!</p>
    
    <p>At least you should <strong>include a photo</strong>, it makes you real! Fill in as much detail as you can, and <strong>upload your portfolio</strong> to show off your work. These things make all the difference to Buyers as they choose who to work with on their Jobs.</p>

    <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; padding: 0; width: 560px;">
        <tbody>
            <tr>
                <td style="font-weight: bold; width: 150px; vertical-align: top;">
                    <p style="margin-top: 150px; padding: 0;">
                        Include a photo</p>
                    <p style="margin-top: 150px; padding: 0;">
                        Upload your portfolio</p>
                </td>
                <td>
                    <img alt="Complete your profile, get more Jobs on PPH" src="{cdnUrl}/css/pph2/mails/profile_completion.jpg" style="padding: 0; margin: 0;" /></td>
            </tr>
        </tbody>
    </table>


    <div class="container-padding pph-btn buttons-container">
        <center>
        <table class="button small-button radius main-action" style="width: 280px">
            <tr>
                <td style="background: #FF7300 !important; border: 1px solid #FF7300 !important" bgcolor="#FF7300">
                    <a href="{baseUrl}/promotions/profile-completion?medium=email&amp;source=FeatureReengagementProfileCompletionEmail" style="color: #ffffff; width: 280px;">Edit my Profile</a>
                </td>
            </tr>
        </table>
        </center>
    </div>


    <table border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding: 0;">
        <tbody>
            <tr>
                <td style="width: 25px; padding: 7px 0 0 0; margin: 0; vertical-align: top;">
                    <img src="{cdnUrl}/css/pph2/mails/icon-exclamation.jpg" style="border: 0; padding: 0; margin: 0;" /></td>
                <td>
                    Check <a href="http://support.peopleperhour.com/entries/23413831-Creating-a-great-Profil"><span style="color: #FC741E; text-decoration: none;">here</span></a> for more tips on making a great profile. Once it&#39;s ready, get the word out!<br />
                    We&#39;ve got several easy ways you can <a href="{baseUrl}/share-pph?utm_source=FeatureReengagementProfileCompletionEmail&amp;utm_medium=email&amp;utm_content=email&amp;utm_campaign=profile-completion-reengagement"> <span style="color: #FC741E; text-decoration: none;">Promote Yourself</span></a> and get more work on PPH.</td>
            </tr>
        </tbody>
    </table>
    <br/><br/>
</div>
<div class="container-padding padding-bottom">
    <table>
        <tr>
            <td align="left">
                <strong>Good luck out there!</strong><br>
                The PeoplePerHour Support Ninjas
            </td>
        </tr>
    </table>
</div>