<!--
HINT:
Replace the values of the attrs or strings mentioned in the comments below with the suggested BEFORE this template is passed
to the inliner in order to use it as a pph template. The existing values are only for testing purposes.
-->
<table class="row bgWhite footer">
    <tr>
        <td>
            <table class="container footer-content">
                <tr>
                    <td>
                        <center>
                            <table class="social-icons-container">
                                <tr>
                                    <td class="center" align="center">
                                        <!-- Facebook -->
                                        <!-- HINT: Replace the value of the src attr with <?php echo $facebook; ?> -->
                                        <a class="social-icon" href="http://facebook.com/peopleperhour">
                                            <img alt="PeoplePerHour at Facebook" src="https://d2rpoex0bisgde.cloudfront.net/img/social-facebook.png?v=1">
                                        </a>
                                        <!-- Twitter -->
                                        <!-- HINT: Replace the value of the src attr with <?php echo $twiiter; ?> -->
                                        <a class="social-icon" href="http://twitter.com/peopleperhour">
                                            <img alt="PeoplePerHour at Twitter" src="https://d2rpoex0bisgde.cloudfront.net/img/social-twitter.png?v=1">
                                        </a>
                                        <!-- LinkedIn -->
                                        <!-- HINT: Replace the value of the src attr with <?php echo $linkedin; ?> -->
                                        <a class="social-icon" href="https://www.linkedin.com/company/167584">
                                            <img alt="PeoplePerHour at LinkedIn" src="https://d2rpoex0bisgde.cloudfront.net/img/social-linkedin.png?v=1">
                                        </a>
                                        <!-- Pinterest -->
                                        <!-- HINT: Replace the value of the src attr with <?php echo $pinterest; ?> -->
                                        <a class="social-icon" href="ttp://pinterest.com/peopleperhour">
                                            <img alt="PeoplePerHour at pinterest" src="https://d2rpoex0bisgde.cloudfront.net/img/social-pinterest.png?v=1">
                                        </a>
                                        <!-- Google plus -->
                                        <!-- HINT: Replace the value of the src attr with <?php echo $googleplus; ?> -->
                                        <a class="social-icon" href="http://plus.google.com/+peopleperhour">
                                            <img alt="PeoplePerHour at Google+" src="https://d2rpoex0bisgde.cloudfront.net/img/social-google-plus.png?v=1">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td class="center" align="center">
                                        <p class="small discreet centered">
                                            <!--
                                            HINT: Replace the following text with <?php echo Yii::t('email-template', '&copy; 2007 - 2014 PeoplePerHour All rights reserved'); ?>
                                            -->
                                            &copy; 2007 - 2014 PeoplePerHour All rights reserved
                                        </p>
                                        <p class="small discreet centered">
                                            <!--
                                            HINT: Replace the following text with
                                            <?php
                                            echo Yii::t('email-template', 'This is an important notification helping you quickly get the most out of PeoplePerHour. {linebreak} You can change your notification settings {hereLink}', [
                                                '{linebreak}' => "<br>",
                                                '{hereLink}' => $hereLink
                                            ]);
                                            ?>
                                            -->
                                            This is an important notification helping you quickly get the most out of PeoplePerHour.<br>
                                            You can change your notification settings
                                            <a class="call-to-action underlined" href="http://staging.peopleperhour.com/settings/notifications?event=1" target="_blank">here</a>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
