<!--
HINT:
Replace the values of the attrs or strings mentioned in the comments below with the suggested BEFORE this template is passed
to the inliner in order to use it as a pph template. The existing values are only for testing purposes.
-->
<table class="row freelancer-item">
    <tr>
        <td class="center freelancer-img">
                <img class="center round-img" width="150" height="150" alt="[[Name]]"  src="[[PhotoUrl]]">
        </td>
    </tr>
    <tr>
        <td class="freelancer-title">
            <div>
                <table>
                    <tr>
                        <td class="title-details">
                            <div>
                                <div class="name">[[Name]]</div>
                                <div class="title">[[Title]]</div>
                            </div>
                        </td>
                        <td class="title-cert">
                            <div class="cert-circle circle">
                               [[Cert]]
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td class="freelancer-details">
            <div>
                <table>
                    <tr>
                        <td class="user-cont">
                            <div class="freelancer-seller-img">
                                 <img src="https://d2rpoex0bisgde.cloudfront.net/img/email/location.png">
                            </div>
                            <span class="freelancer-seller-name crop">[[Location]]</span>
                        </td>
                        <td class="btn-cont">
                            <table class="button pph-btn pph-short-btn pph-orange-btn pph-inverted-btn radius">
                                <tr>
                                    <td>
                                        <a href="[[ButtonUrl]]" target="_blank">[[ButtonText]]</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>