<!--
HINT:
Replace the values of the attrs or strings mentioned in the comments below with the suggested BEFORE this template is passed
to the inliner in order to use it as a pph template. The existing values are only for testing purposes.
-->
<table class="row freelancer-item">
    <tr>
        <td class="center freelancer-img">

            <a href="[[Url]]" target="_blank" target="_blank">
                <img class="center round-img" width="150" height="150" alt="[[Title]]" src="https://d3v9w2rcr4yc0o.cloudfront.net/uploads/thumbs/14632738b91e7fa3670500e6c3d28f28_150x150.jpeg">
            </a>
        </td>
    </tr>
    <tr>
        <td class="freelancer-title">
            <div>
                <table>
                    <tr>
                        <td class="title-details">
                            <div>
                                <a href="[[Url]]" target="_blank">
                                    Lisa Lewis
                                </a>
                                <p>
                                    <span>
                                        UI / UX Designer
                                    </span>
                                </p>
                        </td>
                        <td class="title-cert">
                            <div class="cert-circle circle" style="color: #fff;">1</div>
                        </td>
                    </tr>
                </table>

            </div>


        </td>
    </tr>
    <tr>
        <td class="freelancer-details">
            <div>
                <table>
                    <tr>
                        <td class="user-cont">
                            <div class="freelancer-seller-img">
                                 <img src="https://d2rpoex0bisgde.cloudfront.net/img/email/location.png">
                            </div>
                            <span class="freelancer-seller-name crop">ENFIELD, UK</span>
                        </td>
                        <td class="btn-cont">
                            <table class="button pph-btn pph-short-btn pph-orange-btn pph-inverted-btn radius">
                                <tr>
                                    <td>
                                        <a href="[[Url]]" target="_blank">HIRE</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>