<table class="row bgWhite header">
    <tr>
        <td>
            <table class="container header-content">
                <tr>
                    <td>
                        <a href="http://www.peopleperhour.com" target="_blank" title="PeoplePerHour">
                            <!-- HINT: Replace the value of the src attr with <?php echo $logo; ?> before it can be used in a pph template. The existing value is only for testing purposes. -->
                            <img alt="PeoplePerHour.com" height="25" width="142" src="https://d2rpoex0bisgde.cloudfront.net/img/pph3_logo.png?v=1">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>