<!--
HINT:
Replace the values of the attrs or strings mentioned in the comments below with the suggested BEFORE this template is passed
to the inliner in order to use it as a pph template. The existing values are only for testing purposes.
-->
<table class="row hourlie-item">
    <tr>
        <td class="center hourlie-img">
            <a href="[[HourlieURL_xxx]]" target="_blank" target="_blank">
                <img class="center" width="270" height="209" alt="[[HourlieTitle_xxx]]" src="[[imgURL_xxx]]">
            </a>
        </td>
    </tr>
    <tr>
        <td class="hourlie-title">
            <div>
                <a href="[[HourlieURL_xxx]]" target="_blank">
                    [[HourlieTitle_xxx]]
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="hourlie-details">
            <div>
                <table>
                    <tr>
                        
                        <td class="user-cont">
                            <div class="hourlie-seller-img">
                                <img class="round-img" src="[[UserImgUrl_xxx]]" alt="[[UserImgName_xxx]]">
                            </div>
                            <span class="hourlie-seller-name crop">[[UserImgName_xxx]]</span>
                        </td>
                        <td class="btn-cont">

                            <table class="button pph-btn pph-short-btn pph-orange-btn pph-inverted-btn radius">
                                <tr>
                                    <td>
                                        <a href="[[HourlieURL_xxx]]" target="_blank">[[HourlieDisc_xxx]]</a>
                                    </td>
                                </tr>
                            </table>
                            <div style="margin-right:2px;color:#999;text-decoration:line-through; text-align: center;">[[HourliePrice_xxx]]</div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>