<!--
HINT:
Replace the values of the attrs or strings mentioned in the comments below with the suggested BEFORE this template is passed
to the inliner in order to use it as a pph template. The existing values are only for testing purposes.
-->
<table class="row hourlie-item">
    <tr>
        <td class="center hourlie-img">
            <!-- HINT: Replace the value of the href attribute with [[Url]] before the template is passed from the inliner -->
            <a href="https://pph.local/hourlie/design-develop-and-seo-friendly-responsive-opencart-ecommerce-website-with-blog/157555" target="_blank" target="_blank">
                <!--
                HINT:
                Replace the value of the:
                - alt attribute with [[Title]],
                - src attribute with [[Img]]
                -->
                <img class="center" width="270" height="209" alt="Design &amp; develop and SEO friendly responsive opencart eComme..." src="https://d3v9w2rcr4yc0o.cloudfront.net/uploads/hourliesAttachments/thumbs/260x195/2014/08/309ac0f5f14efecd5d82fda9cc1abc26.jpg">
            </a>
        </td>
    </tr>
    <tr>
        <td class="hourlie-title">
            <!--
            HINT:
            Replace the value of the:
            - href attribute with [[Url]],
            - link text with [[Title]]
            -->
            <div>
                <a href="https://pph.local/hourlie/design-develop-and-seo-friendly-responsive-opencart-ecommerce-website-with-blog/157555" target="_blank">
                    I can design/develop a responsive eCommerce website
                </a>
        </td>
    </tr>
    <tr>
        <td class="hourlie-details">
            <div>
                <table>
                    <tr>
                        <td class="user-cont">
                            <div class="hourlie-seller-img">
                                <!--
                                HINT:
                                Replace the value of the:
                                - alt attribute with [[SellerName]],
                                - src attribute with [[SellerUrl]]
                                -->
                                <img class="round-img" src="https://d3v9w2rcr4yc0o.cloudfront.net/uploads/thumbs/d4ed97a0d0caf3aee62eeced41b27e0d_70x70.jpg" alt="Nnamdi E.">
                            </div>
                            <!-- HINT: Replace the text below with [[SellerName]] -->
                            <span class="hourlie-seller-name crop">Nnamdi E.</span>
                        </td>
                        <td class="btn-cont">
                            <table class="button pph-btn pph-short-btn pph-orange-btn pph-inverted-btn radius">
                                <tr>
                                    <td>
                                        <!--
                                        HINT:
                                        Replace the value of the:
                                        - href attribute with [[ButtonUrl]],
                                        - price text with [[Price]]
                                        -->
                                        <a href="https://pph.local/hourlie/design-develop-and-seo-friendly-responsive-opencart-ecommerce-website-with-blog/157555" target="_blank">£190</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>