<div class="content-header">
    <table>
        <tr>
            <td class="title">
                <h1>{memberFname} - want to make more money from your Hourlies?</h1>
            </td>
        </tr>
        <tr>
            <td class="text-pad">
                <hr class="separator"/>
            </td>
        </tr>
    </table>
</div>

<div style="padding: 0 15px;">
    <p>Hey {memberFname},</p>
    <p>
        Do you know about <span style="color: #FF7400">Hourlie Add-ons</span>? This feature allows you to offer more flexibility to Buyers and in turn earn more money from your Hourlies.</p>
    <p>
        - <strong>Add-ons</strong> are relevant &quot;extra&quot; services that you can offer to Buyers along with your Hourlie, at additional cost and delivery time.
    </p>
    <p>
        - You can also choose to offer <strong>&quot;Priority delivery&quot;</strong>, which means you commit to delivering the Hourlie plus any Add-ons earlier than the normal deadline, in return for extra payment.</p>
    <br />
    [isAddonExampleAvailable]
        <table style="width: 580px;">
            <tr>
                <td style="width: 350px;vertical-align: middle;">
                    <p style="padding: 10px; font-size: 14px; margin: 0; padding: 0; margin-bottom: 5px;">
                        {addon1_title}
                    </p>
                    <p style="padding: 10px; font-size: 11px; margin: 0; padding: 0; color: #B9B9B9;">
                        {addon1_duration}
                    </p>
                </td>
                <td style="width: 200px;">
                    <div style="padding: 10px; font-size: 28px; font-weight: bold; line-height: 38px; text-align: right; color: #B9B9B9;">
                        +{addon1_price}</div>
                </td>
            </tr>
            <tr>
                <td style="width: 350px;vertical-align: middle;">
                    <p style="padding: 10px; font-size: 14px; margin: 0; padding: 0; margin-bottom: 5px;">
                        {addon2_title}
                    </p>
                    <p style="padding: 10px; font-size: 11px; margin: 0; padding: 0; color: #B9B9B9;">
                        {addon2_duration}
                    </p>
                </td>
                <td style="width: 200px;">
                    <div style="padding: 10px; font-size: 28px; font-weight: bold; line-height: 38px; text-align: right; color: #B9B9B9;">
                        +{addon2_price}</div>
                </td>
            </tr>
            <tr>
                <td style="width: 350px;vertical-align: middle;">
                    <p style="padding: 10px;  font-size: 14px; margin: 0; padding: 0; margin-bottom: 5px;">
                        {addon3_title}
                    </p>
                    <p style="padding: 10px;  font-size: 11px; margin: 0; padding: 0; color: #B9B9B9;">
                        {addon3_duration}
                    </p>
                </td>
                <td style="width: 200px;">
                    <div style="padding: 10px;  font-size: 28px; font-weight: bold; line-height: 38px; text-align: right; color: #B9B9B9;">
                        +{addon3_price}</div>
                </td>
            </tr>
            <tr>
                <td style="width: 350px;vertical-align: middle;">
                    <span style="padding: 10px; display: inline-block; vertical-align: middle; width: 87px; height: 22px; background: transparent url('{baseUrl}/css/pph2/mails/priority-delivery.png') no-repeat 0 0;">
                </td>
                <td style="width: 200px;">
                    <div style="padding: 10px; font-size: 28px; font-weight: bold; line-height: 38px; text-align: right; color: #B9B9B9;">
                        +{addon4_price}</div>
                </td>
            </tr>
        </table>
    [/isAddonExampleAvailable]
    <p>It&#39;s easy to try - just go to your Hourlie page and update to include any Add-ons you&#39;d like to offer:</p>
    <div class="container-padding pph-btn buttons-container">
        <center>
        <table class="button small-button radius main-action" style="width: 280px">
            <tr>
                <td style="background: #FF7300 !important; border: 1px solid #FF7300 !important" bgcolor="#FF7300">
                    <a href="{baseUrl}/promotions/hourlie-addons?utm_medium=email&amp;utm_source=HourlieAddonsPromoEmail&amp;utm_campaign=hourlie-addons-reengagement" style="color: #ffffff; width: 280px;">Offer Add-ons</a>
                </td>
            </tr>
        </table>
        </center>
    </div>
</div>

<div class="container-padding padding-bottom">
    <table>
        <tr>
            <td align="left">
                Kind Regards<br>
                <strong>The PeoplePerHour Support Ninjas</strong>
            </td>
        </tr>
    </table>
</div>