<!--
HINT:
Replace the values of the attrs or strings mentioned in the comments below with the suggested BEFORE this template is passed
to the inliner in order to use it as a pph template. The existing values are only for testing purposes.
-->
<div class="proposal-box padding-bottom padding-top">
    <table class="row proposal-item">
        <tr>
            <td class="user-info">
                <table>
                    <tr>
                        <td class="user-image">
                            <a href="#">
                                <!--
                                    HINT:
                                    Replace the value of img:
                                    - src with [[UserImage]],
                                    -->
                                <img class="round-img" src="https://d3v9w2rcr4yc0o.cloudfront.net/uploads/thumbs/c2b809bb15018a4aa6413d8cd6923e15_70x70.jpg">
                            </a>
                        </td>
                        <td class="user-details">
                            <table>
                                <tr>
                                    <td>
                                        <div class="user-name">
                                            [[Name]]
                                            [[Tags]]
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user-location">
                                        <!--
                                            HINT:
                                            Replace the value of img:
                                            - src with [[LocationImgLink]],
                                            -->
                                        <img src="http://pph.local/img/email/location.png" alt="location">
                                        [[Location]]
                                        </div>
                                        <div class="user-rating">
                                            <!--
                                            HINT:
                                            Replace the value of:
                                            - alt with [[Rating]],
                                            - value with [[Rating]]
                                            - img src with [[RatingImgLink]]
                                            -->
                                        <img src="http://pph.local/img/email/rating.png" alt="[[Rating]]">
                                        [[Rating]]
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="user-message">
                    <div class="border"></div>
                    [[ProposalText]]
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="bottom-line">
                    <table class="bottom-line-table">
                        <tr>
                            <td class="proposal-amount">
                                [[ProposalAmount]]
                            </td>
                            <td class="btn-cont">
                                <table class="button pph-btn pph-short-btn pph-orange-btn pph-inverted-btn radius">
                                    <tr>
                                        <td>
                                            <!--
                                            HINT:
                                            Replace the value of the:
                                            - href attribute with [[ButtonUrl]],
                                            -->
                                            <a href="https://pph.local/hourlie/design-develop-and-seo-friendly-responsive-opencart-ecommerce-website-with-blog/157555" target="_blank">[[ViewBtnText]]</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                
            </td>
        </tr>
    </table>
</div>
<!-- END PROPOSAL BOX -->