<div class="content-header">
    <table>
        <tr>
            <td class="title left-col">
                <h1>[[Title]]</h1>
            </td>
            <td class="icon right-col">
                [[Icon]]
            </td>
        </tr>
        <tr>
            <td class="subtitle left-col" colspan="2" style="color:#[[Color]];">
                [[SubTitle]]
            </td>
        </tr>
        <tr>
            <td class="text-pad" colspan="2">
                <hr class="separator"/>
            </td>
        </tr>
    </table>
</div>
