<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>{{>ink}}</style>
    <style>{{>pph-main}}</style>
    <style>{{>buttons}}</style>
    <style>{{>hourlies}}</style>
</head>
<body>
    <table class="body">
        <tr>
            <td>
                <!-- BEGIN: Header -->
                {{> _header }}
                <!-- END: Header -->
                <!-- BEGIN: Main Content -->
                <table class="container bgWhite main-content">
                    <tr>
                        <td>
                            <div class="container-padding padding-bottom padding-top">
                                <table>
                                    <tr>
                                        <td align="center">
                                            <h2><center>Up to 60% off - Only 24 hours left</center></h2>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <table class="block-grid two-up">
                                <tr>
                                    <td>
                                        {{> _hourlieTileDiscount }}
                                    </td><td>
                                        {{> _hourlieTileDiscount }}
                                    </td>
                                </tr>
                            </table>
                            <table class="block-grid two-up">
                                <tr>
                                    <td>
                                        {{> _hourlieTileDiscount }}
                                    </td><td>
                                        {{> _hourlieTileDiscount }}
                                    </td>
                                </tr>
                            </table>
                            <table class="block-grid two-up">
                                <tr>
                                    <td>
                                        {{> _hourlieTileDiscount }}
                                    </td><td>
                                        {{> _hourlieTileDiscount }}
                                    </td>
                                </tr>
                            </table>
                            <div class="container-padding padding-bottom padding-top">
                                {{>_post-job-fake}}
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- END: Main Content -->
                <!-- BEGIN: Footer -->
                {{> _footer }}
                <!-- END: Footer -->
            </td>
        </tr>
    </table>

</body>
</html>