<table class="">
	<tr>
		<td>
			<table class="job-title">
				<tr>
					<td class="container-padding"><span class="job-title">This is a very intelligent job title! Even bigger this time!</span></td>
				</tr>
			</table>
			<table class="job-features">
				<tr>
					<td class="container-padding">{{> _featureLabel }} {{> _featureLabel }} <span class="feature-text">2x more chances to win!</span></td>
				</tr>
			</table>
			<table class="job-text">
				<tr>
					<td class="container-padding">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non orci id eros bibendum dignissim in vitae dolor. Maecenas et quam eget mi adipiscing vulputate sit amet ullamcorper odio. Nullam sollicitudin justo at nisl ornare a blandit diam lacinia. Ut convallis consequat rutrum. Nunc nec porttitor felis.
					</td>
				</tr>
			</table>
			<table class="job-footer">
				<tr>
					<td class="container-padding">
						{{> _proposalButton }} <span class="budget-line">BUDGET:</span> <span class="price-line">$180</span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table class="width-full">
	<tr>
		<td>
			<table class="jobs-separator">
				<tr>
					<td><hr class="jobs-header-separator"/></td>
				</tr>
			</table>
		</td>
	</tr>
</table>