<div class="content-header">
    <table>
        <tr>
            <td class="title">
                <h1>262 Jobs matching your saved searches</h1>
            </td>
        </tr>
        <tr>
            <td class="subtitle" style="color:#5986C1; font-style: italic;">
                "design, logo, illustration"
            </td>
        </tr>
        <tr>
            <td class="text-pad">
                <hr class="separator"/>
            </td>
        </tr>
    </table>
</div>

<div class="content-body">
	<div class="greeting-title">Hey Aris</div>
	<div class="greeting-text">
		This is your fresh-from-the-market summary of new Jobs posted on PeoplePerHour matching your saved searches.
	</div>
</div>

<div style="padding: 0 15px">
{{> _grey-box-notitle }}
</div>

<div class="content-body">
	<div class="personalized-title">
		Personalised Job Recommendations (0)
	</div>
	<p>
		These recommendations are personalised for you.To improve results, please update your profile and skills. This is a new feature currently in beta, so we would be glad to hear your feedback. 
	</p>
</div>


<table class="content-all-text">
	<tr>
		<td>
			<table class="jobs-header">
				<tr>
					<td>
						<span class="all-jobs-link">ALL JOBS (36)</span>
						<span class="view-all-link"><a href="#">View All</a></span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table class="width-full">
	<tr>
		<td>
			<table class="jobs-separator" style="margin-top: 0;">
				<tr>
					<td><hr class="jobs-header-separator"/><hr class="jobs-header-separator"/></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

{{> _jobPost }}

{{> _jobPost }}

<table class="">
	<tr>
		<td>
			<table class="jobs-footer">
				<tr>
					<td>We'll keep you posted! Until then, <a href="#">view all</a> Job openings.</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

{{> _pph-sign }}
